html{
    font-size: 14px;
    font-family: "Times New Roman";
    box-align: auto;
}
body{
    background-color: #b4b4b4;
font-family: 'Times New Roman', Times;
font-size: 14px;
max-width: 1200px;
min-width: auto;
margin: 0 auto;
padding: 15px;
}
#body > div > div {
	margin:30px 0;
	padding: 20px;
}
body > div > div{
    background-color: grey;
}
#body > div:nth-child(odd) > div {
	background-color: #f8f8f8;
}
#goup {
    height: 10px;
    width: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

p:first-letter{
	font-size: 20px;
	font-weight: initial;
	font-family: 'Times New Roman';
	color: yellow;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}

/*Tables*/
.simple-table table th, td{
border: 1px solid black;
border-collapse: collapse
}
th, td{
    padding: 10px;
    text-align: left;
}
.simple-table table td{
    text-align:right;
}
.complex-table table tr:nth-child(even) {
    background-color: aqua;
}
.complex-table table tr:nth-child(odd){
    background-color: aquamarine;
}
.complex-table table th{
    background-color: black;
    color: white;
    text-align: center;
}
#main-menu{
	display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right; 20px; 
}

.menu-item{
	width: 150px;
	padding: 10px;
	position:relative;
	vertical-align: top;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.menu-item > div:first-child{
	padding: 10px;
	position: relative;
}
.submenu > div:first-child{
	padding: 10px;
	font-size: 14px;
}

.subsubmenu{
	margin-left: 10px;
}

.subsubmenu-item{
	padding: 10px;
	font-size: 13px;
}

.menu-item .submenu, .submenu .subsubmenu{
	display: none;
}

.menu-item:hover{
	background-color: #fff;
}
.submenu:hover >  div:first-child{
	background-color:  #7e9dea;
	color: #fff;
}
.subsubmenu-item:hover{
	color: #7e9dea;
}

.menu-item:hover .submenu, .submenu:hover .subsubmenu{
	display: block;
}

.menu-item a{
	text-decoration: none;
	color: #010101;
}
